# K3 native B200/B210 launcher settings.
# Copy this file to $HOME/sionna-rk/config/b200/.env.k3 and edit it.
USRP_SERIAL=REPLACE_WITH_UHD_SERIAL
AMF_IP=REPLACE_WITH_K3_HOST_IPV4
GNB_IP=192.168.71.140
K3_GNB_BUILD=/home/ubuntu/sionna-rk/ext/openairinterface5g/cmake_targets/ran_build/build
K3_GNB_ALLOWED_CPUS=0-7
K3_GNB_THREAD_POOL=-1,-1,-1,-1,-1,-1,-1,-1

